extends ../../layouts/default

include ../../mixins/admin/adminMenu

block content
  .site-wrapper
    include ../../includes/header
    section.full-width
      .wrapper
        header.register__Header
          h2.page-header Admin <i class="fa fa-angle-right"></i> Message Report Detail <i class="fa fa-angle-right"></i> #{report._id}
        .multicol__Wrapper
          .multicol__Side.multicol__Side--left
            +adminMenu(page)
          .multicol__Main
            .profile__Container
              h3 Message Report details
              .admin__InfoList
                .admin__InfoListItem
                  .admin__InfoListItemTitle Date created
                  .admin__InfoListItemValue
                    time.convertDate=report.createdAt

                .admin__InfoListItem
                  .admin__InfoListItemTitle Reason
                  .admin__InfoListItemValue= report.reason

            .profile__Container
              h3 Reporter
              .admin__InfoList
                .admin__InfoListItem
                  .admin__InfoListItemTitle User ID
                  .admin__InfoListItemValue
                    a(href=`/admin/users/${report.message.recipient}`, target="blank")= report.message.recipient

            .profile__Container
              h3 Target
              .admin__InfoList
                .admin__InfoListItem
                  .admin__InfoListItemTitle User ID
                  .admin__InfoListItemValue
                    a(href=`/admin/users/${report.message.sender}`, target="blank")= report.message.sender


            .profile__Container
              h3 message
              .admin__InfoList
                .admin__InfoListItem
                  .admin__InfoListItemTitle Message
                  .admin__InfoListItemValue= report.message.message

            .profile__Container
              h3 Actions
              form(method="post")
                input(type='hidden', name='action', value='siteban')
                .form__InputContainer
                  label(for="reason").form__Label Reason
                  select.form__Input.register__FormInput(id="reason", name="reason")
                    option(value="", selected=true, disabled=true) Select a reason
                    each reason, key in banReasons
                      option(value=key)= reason
                .form__InputContainer
                  span.form__Label Type
                  .form__RadioContainer
                    input.form__Input-radio(type="checkbox", id="restrictBroadcast", name="restrictBroadcast")
                    label(for="restrictBroadcast") Restrict broadcast
                  .form__RadioContainer
                    input.form__Input-radio(type="checkbox", id="restrictJoin", name="restrictJoin")
                    label(for="restrictJoin") Restrict joining rooms
                .form__InputContainer
                  button.button.button--red(type="submit") Ban
                  .form__Messages
                    if error
                      div.text--red.form__Error= error
                    if success
                      span.text--green.form__Success= success


